{%extends 'index.html'%}

{%block content%}
<h1>home</h1>
<a href="{%url 'add-task'%}">Add task</a>

{%if data%}
<h2>Task left to do</h2>
<table border="1px solid black">
    <tr>
        <th>id</th>
        <th>task</th>
        <th>description</th>
        <th>deadline</th>
        <th>completed</th>
        <th>category</th>
        <th>created</th>
        <th>Edit</th>
        <th>remove</th>
    </tr>
    {%for task in data%}
    <tr>
        <th>{{task.id}}</th>
        <th>{{task.task}}</th>
        <th>{{task.description}}</th>
        <th>{{task.deadline}}</th>
        <th>{{task.completed}}</th>
        <th>{{task.category}}</th>
        <th>{{task.created}}</th>
        <th><a href="{% url 'edit-task' task.id%}">Edit</a></th>
        <th><a href="{% url 'delete-task' task.id%}">delete</a></th>
        <th>
            <form action="" method="post">
                {%csrf_token%}
                <input type="hidden" name="id" value="{{task.id}}">
                {%if task.completed%}
                <button type="submit">Mark as incomplete</button>
                {%else%}
                <button type="submit">Mark as complete</button>
                {%endif%}
            </form>
        </th>
    </tr>
    {%endfor%}
</table>
{%endif%}
{%endblock content%}